::-webkit-scrollbar{
	display:none;
}
*{
	box-sizing:border-box;
	interpolate-size:allow-keywords;
	outline:none;
	overscroll-behavior:none;
	transition:.25s;
	user-select:none;
}
@font-face{
	font-family:UbuntuSans;
	src:url(fonts/UbuntuSans-Regular.ttf);
}
@font-face{
	font-family:UbuntuSansBold;
	src:url(fonts/UbuntuSans-SemiBold.ttf);
}
body{
	background:#eee;
	display:flex;
	flex-direction:column;
	font-family:UbuntuSans;
	margin:0;
	b{
		font-family:UbuntuSansBold;
	}
	.blocked{
		pointer-events:none;
	}
	>#banner{
		background:white;
		border-bottom:1px solid #aaa;
		display:flex;
		font-family:UbuntuSansBold;
		font-size:1.25em;
		gap:1.25rem;
		margin-bottom:.25em;
		padding:.5rem .75rem;
		>div[onclick]{
			border-radius:.5em;
			cursor:pointer;
			padding:.25em .5em;
		}
		>div[onclick]:hover,
		>.hovered{
			background:#ddd;
		}
		>.hovered{
			pointer-events:none;
		}
	}
	>.details{
		margin:0 1em;
		>.summary{
			color:black;
			cursor:pointer;
			font-family:UbuntuSansBold;
			opacity:.5;
			padding:.5em 1em;
			user-select:none;
		}
		>.summary:before{
			content:'\29CB';
			position:absolute;
			rotate:90deg;
			transition:inherit;
			translate:-1em;
		}
		>.content{
			column-width:12em;
			height:0;
			overflow:hidden;
			transition:height .25s;
			>.script{
				background:#e9e9e9;
				border-radius:1em;
				border:1px solid #ddd;
				break-inside:avoid;
				cursor:pointer;
				padding:.5em;
				>.title{
					border-bottom:1px solid lightgrey;
					font-family:UbuntuSansBold;
					margin-bottom:.25em;
					text-align:center;
				}
				>.description{
					font-size:.8em;
				}
				>.description:has(li):before{
					content:'Provides:';
					font-family:UbuntuSansBold;
				}
			}
			>.script:hover{
				background:#ddd;
			}
		}
	}
	>.details[open]:hover{
		>.summary{
			>.summary-action{
				display:inline-block;
			}
		}
	}
	>.details[open]:not(.blocked){
		>.summary{
			opacity:1;
		}
		>.summary:before{
			rotate:180deg;
		}
		>.content{
			height:auto;
		}
	}
}